.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-thirds {
  flex-basis: calc(66.7%);
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.character {
  width: 100%;
}
